<div class="ui six column">
    <form class="ui stacked segment form" name="addTweet" action="/addTweet" method="POST">
        <div class="field">
            <label>Tweet</label>
            <input type="text" placeholder="What's on your mind?" maxlength="140">
        </div>
        <button class="ui blue submit button"> Send </button>
    </form>
</div>