{{#each userList}}
    <table class="ui table">

        <tbody>
        <div class="ui bulleted list">
            <tr>
                <td class="one wide">
                    <i class="small user icon"></i>
                </td>
                <td class="fourteen wide">
                    <a href="/dashboard/viewUserTweets/{{_id}}">{{firstName}}
                        {{lastName}}</a>
                </td>
                <td class=" one wide right aligned">
                    <a href="/deleteUser/{{_id}}">
                        <i class="large red trash icon"></i>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>

{{/each}}