
{{#each tweet}}
    <table class="ui fixed centre aligned table">
        <thead>
        <tr>
            <th class="one wide"> User Icon </th>
            <th class="six wide"> Tweet </th>
            <th class="two wide"> Date </th>
            {{#unless ../globalTimeline}}
                    <th class="one wide"> Delete </th>
            {{/unless}}
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">
            <tr>
                <td>Test</td>
                <td>{{message}}</td>
                <td>{{date}}</td>
                {{#unless ../globalTimeline}}
                    <td><a href="/removeTweet/{{_id}}">
                        <i class=" large red trash icon"></i>
                    </a></td>
                {{/unless}}
            </tr>
        </div>
        </tbody>
    </table>
{{/each}}