
{{#each tweet}}
    <table class="ui fixed centre aligned table">
        <thead>
        <tr>
            <th class="six wide"> Tweet </th>
            <th class="two wide"> Date </th>
        </tr>
        </thead>
        <tbody>
        <div class="ui bulleted list">
            <tr>
                <td>{{message}}</td>
                <td>{{date}}</td>
            </tr>
        </div>
        </tbody>
    </table>
{{/each}}
