{{> menu-admin id="adminHome"}}

<section class="ui raised segment">
    <div class="ui centre aligned">
        <h4>Welcome {{user.firstName}} {{user.lastName}}!</h4>
    </div>
    {{> user-list}}
</section>