{{> menu id ="home"}}

<section class="ui raised segment">
    <h3 class="ui center aligned header">
        Welcome back {{user.firstName}}!
    </h3>
    {{> new-tweet}}
    <h3 class="ui center aligned header"> {{user.firstName}}'s Timeline </h3>
    {{> user-timeline}}
</section>