{{> menu id ="home"}}

<section class="ui raised segment">
    <h3 class="ui center aligned header">
        Welcome back {{user.firstName}}, here's what you missed!
    </h3>
    {{> following-timeline}}
    {{#if follow}}
        <h4 class="ui center aligned header">Looks like you're not following anyone yet {{user.firstName}}.
            You should check out the conversation over <a href="/globalTimeline">here</a>
        </h4>
    {{/if}}
</section>