{{> welcomemenu}}

<section class="ui center aligned middle alignedstacked segment" >
    <div>
        <header class="ui  header"> Welcome to MyTweet! </header>
        <p> What's on your mind? </p>
    </div>
    <div>
        <img src="http://res.cloudinary.com/dlswdhwpl/image/upload/v1509883829/App-Twitter-icon_bildpa.png"
             alt="MyTweet Logo" />
    </div>
</section>