{{> welcomemenu}}

<section class="ui center aligned middle alignedstacked segment" >
    <div>
        <!--<img src="../../public/Twitter-Icon.png" alt="MyTweet Logo" width="512" height="512"/>-->
    </div>
    <div>
        <header class="ui  header"> Welcome to MyTweet! </header>
        <p> What's on your mind? </p>
    </div>
</section>