{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" name="signup" action="/register" method="POST"
              onsubmit="return validatePassword()">
            <h3 class="ui header"> Register </h3>

            <div class="two fields">
                <div class="required field">
                    <label> First Name </label>
                    <input placeholder="First Name..." type="text" name="firstName" required>
                </div>

                <div class="required field">
                    <label> Last Name </label>
                    <input placeholder="Last Name..." type="text" name="lastName" required>
                </div>
            </div>

            <div class="required field">
                <label> Email </label>
                <input placeholder="E-mail Address..." type="email" name="email" required>
            </div>

            <div class="required field">
                <label> Password </label>
                <input placeholder="Password..." type="password" name="password" required>
            </div>
            <div class="required field">
                <label> Password Validation </label>
                <input placeholder="Please enter the same password as above..." type="password" name="passwordValid">
            </div>

            <button class="ui blue submit button"> Submit </button>
            <div class="ui error message"></div>

        </form>

    </div>
    <div class="column">
        <img class="ui image" src="http://res.cloudinary.com/dlswdhwpl/image/upload/v1503514000/SignUp-page_guaqpt.png" alt="Sign Up icon">
    </div>

</div>

<script>$(".ui.fluid.dropdown").dropdown({
})
</script>

<script>
    function validatePassword() {
        var passwordValid = document.forms["signup"]["passwordValid"].value;
        var password = document.forms["signup"]["password"].value;
        if(passwordValid !== password) {
            alert("Your password validation must match your password");
            return false;
        }
    }
</script>